$bgColor: rgb(48, 48, 48);
$txtColor: rgb(204, 231, 239);
$fontMain: 'Roboto', Calibri, sans-serif;
$fontAlt: 'Roboto Mono', monospace;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $fontAlt;
  scroll-behavior: smooth;
}

body {
  color: $txtColor;
  background-color: $bgColor;

  header {
    // border: solid 1px rgb(124, 124, 124);
    width: 1300px;
    height: 200px;
    margin: 0 auto;
    padding: 0 50px;
    nav {
        overflow: hidden;
        background-color: #333;
        position: relative;
        display: inline-block;
        margin: 50px;
        a {
          color: $txtColor;
          text-decoration: none;
          font-size: 30px;
        }
        a:hover {
          color: rgb(170, 117, 255);
        }
        ul {
          list-style: none;
          display: none;
          // display: inline;
          li {
            display: inline;
            margin-left: 10px;
          }
        }
    }
    h1 {
        display: inline-block; 
        vertical-align: top;
        font-size: 30px;
        margin: 50px 0 50px 0;
    }
  }

  #projects {
    // border: solid 1px rgb(124, 124, 124);
    max-width: 1300px;
    max-height: 1300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    margin: 0 auto;
    padding: 100px 50px;
    figure {
      // display: inline-block;
      // border: white solid 1px;
      width: 280px;
      height: 500px;
      margin: 0;
      padding: 10px;
      h3 {
        text-align: center;
        font-size: 20px;
        padding: 10px;
      }
      img {
        width: 250px;
        height: 250px;
        // border: black solid 5px;
        border-radius: 20px;
        object-fit: cover;
      }
      figcaption {
        text-align: center;
        font-size: 20px;
        padding: 10px;
        a {
          color: $txtColor;
          // text-decoration: none;
          font-size: 20px;
        }
        a:hover {
          color: white;
        }
      }
    }
    figure:hover {
      img {
        width: 260px;
        height: 260px;
      }
    }
  }

  #about {
    // border: solid 1px rgb(124, 124, 124);
    max-width: 1000px;
    height: 800px;
    margin: 0 auto;
    padding: 100px 30px;
    h2 {
      font-size: 30px;
      margin-bottom: 50px;
    }
    p {
      font-size: 30px;
      line-height: 1.5em;
    }
  }

  #tech {
    // border: solid 1px rgb(124, 124, 124);
    max-width: 1300px;
    height: 1000px;
    margin: 0 auto;
    padding: 100px 50px;
    font-size: 25px;
    h2 {
      font-size: 30px;
      margin: 0 0 70px 50px;
    }
    .flex-container {
      // border: solid 1px rgb(124, 124, 124);
      max-width: 1200px;
      max-height: 500px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      figure {
        // border: white solid 1px;
        // display: inline-block;
        text-align: center;
        width: 200px;
        height: 200px;

      }
    }
  }

  footer {
    color: rgb(186, 186, 186);
    text-align: center;
    width: 1000px;
    height: 100px;
    margin: 0 auto;
  }
}
