$bgColor: rgb(71, 71, 71);
$txtColor: white;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto-Regular", sans-serif;
  scroll-behavior: smooth;
}

body {
  color: $txtColor;
  background-color: $bgColor;

  header {
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    nav {
        overflow: hidden;
        background-color: #333;
        position: relative;
        display: inline-block;
        margin: 50px;
        a {
          color: $txtColor;
          text-decoration: none;
          font-size: 30px;
        }
        a:hover {
          color: rgb(170, 117, 255);
        }
        ul {
          list-style: none;
          display: none;
          // display: inline;
          li {
            display: inline;
            margin-left: 10px;
          }
        }
    }
    h1 {
        display: inline-block; 
        vertical-align: top;
        font-size: 30px;
        margin: 50px 0 50px 0;
    }
  }

  #projects {
    border: solid 1px rgb(124, 124, 124);
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    figure {
      display: inline-block;
      width: 200px;
      height: 200px;
      border: black solid 5px;
      border-radius: 20px;
      margin: 50px;
      padding: 10px;
    }
  }

  #about {
    border: solid 1px rgb(124, 124, 124);
    width: 1000px;
    height: 800px;
    margin: 0 auto;
  }

  #tech {
    border: solid 1px rgb(124, 124, 124);
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    figure {
      display: inline-block;
      width: 50px;
      height: 50px;
      border: black solid 5px;
      border-radius: 20px;
      margin: 50px;
      padding: 10px;
    }
  }

  footer {
    color: rgb(186, 186, 186);
    text-align: center;
    width: 1000px;
    height: 100px;
    margin: 0 auto;
  }
}
